
h1.visible{
	visibility: visible;
	border:1px solid black;
	border-radius: 9px;
	border-collapse: auto;
	border-width: 2px;
}
h1.hidden{
	visibility: hidden;
}
img{
	max-width: 100%;
	max-height: 100%;
}
.p1{
	background: aqua;
	border:2px solid yellow;
}
aside,section{
	background: green;
	border:2px solid blue;
	color: white;
}
@media all and (min-width: 500px){
	section{
		width:30%;
		color: white
	}
	aside{
		float: right;
		width: 20%
		color:white;
	}
}