    /* This is for aboutme page*/
.heading{

	padding-left: 500px;
	cursor: wait;
}
.address{
	font-size: 20px;
	font-weight: 600;
	margin: 30px;
	padding-left:500px;
}
#man{
	background-image:url(background.jpg);
	background-repeat: repeat-y; 
}
.abt{
	font-style: italic;
	font-size: 25px;
	padding:50px;
	margin: 30px;
	border-bottom: 1px solid black;
	text-indent: 50px;
	word-spacing: 2px;
}
#p1{
	font-family: Helvetica; font-size: 25px;
	padding-left:485px;
  border: 2px solid green;
	border:fixed;
	visibility: hidden;
	border-radius: 1px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
   }
.navy{
	font-size:35px;
	padding-left: 352px;	
}

/* Anchor tags*/

nav a:link{
	color:purple;
	text-decoration: none;
	background-color: white;
	: 10px;
}
nav a:visited{
	color:blue;
}
nav a:hover{
	color:pink;
}
nav a:active{
	color:orange;
}
nav a:focus{
	color:red;
}

.l3{
	position: fixed;
	
    margin: 0 0 0 1300px;
}
/* table margins and background*/
table tr td{
	font-color:blue;
	border: 6px solid red;
	padding-left: 255px;
	table-layout: auto;
	border-collapse: 20px;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
table th{
	border:6px solid red;
	text-align: center;
	background-color: cyan;
	border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
/* This is lang attribute*/
.lang{
	font-family: helvetica;
	padding:10px;
	color: black;
	border:2px dashed black;
	margin: auto;
	border-width: 2px;
}
:lang(fr) {
	color:green;
	font-size: 25px;
}
:lang(de) {
	color: purple;
	font-size: 30px;
}
:lang(en){
	color: orange;
	font-size: 35px;
}
.patient{
	background-color: lightblue;
	margin:10px 0px 15px 0px;
  padding: 10px;
	padding-left:30px; 	
	border:2px solid darkblue;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
input[type="submit"]{
	color: white;
	background-color: green;
}
/* login page css*/
#login{
	font-color:white;
	font-family: times;
	font-size:25px;
	text-align: center;
	border:10px solid black;
	background-image:url(background2.jpg);
	background-repeat: repeat;
	padding: 300px;
}
.abt::first-line{
	color: green;
	

}
.l1{	
	padding:14px;
}
table{
	border-collapse: collapse;
}
ul li:first-child{
	color: yellow;
	font-size: 20px;
}
ul li:last-child{
	color: orange;
	font-size: 20px;
}
ul li:nth-child(2){
	color: darkblue;
	font-size: 20px;
}
